.time-series-form{
	display: flex;
	flex-direction: column;
	width: 30%;
	align-items: center;
}

.filtered {
	text-decoration: line-through;
}

.selectedTag {
	background-color: black;
	color: white;
}